NEXT_PUBLIC_SUPABASE_URL=https://bqedictvigmpxscbjboq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_7p64Ye0CsqkP9Iny8QQsTA_y0KRCOIn
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_6a3jgxr
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_h5p58iu
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=0AKNXbRK-UoJJOqYi
